@tailwind base;
@tailwind components;
@tailwind utilities;


*, *::before, *::after {
  margin: 0;
  padding: 0;
}

html, body, #app {
  height: 100%;
}

::-webkit-scrollbar {
  @apply w-1.5 rounded-full
}

::-webkit-scrollbar-track {
  @apply bg-gray-200 rounded-full 
}

::-webkit-scrollbar-thumb {
  @apply bg-sky-200 rounded-full opacity-50
}